<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">MARKA EKLE</h5></div>
            <div class="card-body">

                <form [formGroup]="brandAddForm">
                    <label for="brandName">MARKA ADI</label>
                    <div class="form-group">
                        <input type="text" id="brandName" formControlName="brandName" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" (click)="addBrand()">KAYDET</button>
            </div>
            
            

        </div>
    </div>
</div>