<button _ngcontent-duv-c53="" type="submit" class="btn btn-sm btn-outline-success" data-bs-toggle="collapse" href="#markalar" role="button" aria-expanded="false" aria-controls="markalar">
    <strong>RENKLER</strong>
 </button>   

<!-- <div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">RENK EKLE</h5></div>
            <div class="card-body">

                <form [formGroup]="colorAddForm">
                    <label for="colorName">RENK ADI</label>
                    <div class="form-group">
                        <input type="text" id="colorName" formControlName="colorName" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" (click)="addColor()">KAYDET</button>
            </div>
            
            

        </div>
    </div>
</div> -->