<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">ARAÇ GÜNCELLE</h5></div>
            <div class="card-body">

                <form [formGroup]="carUpdateForm">
                    <label for="brandId">MARKA KODU</label>
                    <div class="form-group">
                        <select id="brandId" class="form-select"  formControlName="brandId">
                            <option [ngValue]="brand.id" *ngFor="let brand of brands">{{ brand.brandName }}</option>
                          </select>
                    </div>
                    <label for="carName">ARAÇ ADI</label>
                    <div class="form-group">
                        <input type="text" id="carName" formControlName="carName" class="form-control"/>
                    </div>
                    <label for="colorId">RENK KODU</label>
                    <div class="form-group">
                        <select id="colorId" class="form-select"  formControlName="colorId">
                            <option [ngValue]="color.id" *ngFor="let color of colors">{{ color.colorName }}</option>
                          </select>
                    </div>
                    <label for="modelYear">MODEL YILI</label>
                    <div class="form-group">
                        <input type="number" id="modelYear" formControlName="modelYear" class="form-control"/>
                    </div>
                    <label for="dailyPrice">GÜNLÜK KİRALAMA ÜCRETİ</label>
                    <div class="form-group">
                        <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"/>
                    </div>
                    <label for="description">AÇIKLAMALAR</label>
                    <div class="form-group">
                        <input type="text" id="description" formControlName="description" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" [routerLink]="" (click)="updateCar()">KAYDET</button>
            </div>
            
            

        </div>
    </div>
</div>